.form-check-label {
  font-size: 0.9rem;
  color: #666666;
  margin-left: 0.2rem;
}
.form-check-input {
  color: white;
  position: relative;
  top: 2px;
}
.form-check-input:checked {
  accent-color: #0099cc;
}
/*[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #666666;
}
/* login validation */
.error {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 25px;
  text-align: center;
}

#login-error {
  position: relative;
  bottom: 1rem;
}

/* recaptcha */
.g-recaptcha {
  border-radius: 25px;
}
