/* [ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/poppins/Poppins-Regular.ttf");
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url("../fonts/poppins/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url("../fonts/poppins/Poppins-Medium.ttf");
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
  }
  html,
  body {
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    font-family: Poppins-Regular, sans-serif;
    color: #666666;
  }
  
  .form-control {
    color: #666666;
    height: 35px;
    position: relative;
    bottom: 8px;
    font-family: Poppins-Medium;
    font-size: 15px;
    border: 1px solid #e3e5e6;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #f2f2f2;
    color: #666666;
  }

  .registered {
    bottom: 34rem;
    left: 20rem;
    color: #757272;
    font-size: 0.9rem;
  }

  .redirect {
    color: #33b5e5;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .div-redirect {
    position: relative;
    bottom: 0.4rem;
  }
  
  .redirect:hover {
    color: #0099cc;
  }
  
  select {
    height: 40px;
    color: #666666;
    width: 100% !important;
    border: 1px solid #e3e5e6;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    outline-color: #4a4d4b;
    width: 100%;
    position: relative;
    bottom: 8px;
  }


.position {
    width: 100%;
    height: 35px;
    position: relative;
    bottom: 8px;
  }

  h6,
.form-label {
  font-family: Poppins-Regular, sans-serif;
}

h3 {
  font-family: Poppins-bold;
}

i {
  font-size: 50px;
  position: relative;
  top: 12px;
}

.reg-btn {
  bottom: 35rem;
  left: 80px;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 44rem;
  height: 50px;
  border-radius: 25px;
  background: #33b5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.reg-btn:hover {
  background: #0099cc;
  color: #fff;
}